<!DOCTYPE html> 
<html>
    <div class="container-fluid fixed-bottom" style="padding-left: 10px; padding-bottom: 5px;">
        <a style=" color: lightgray;"> © 2022 Copyright: Code Destroyer </a>
    </div>
</html>